*{
    margin: 0px !important;
    padding: 0px !important;
}


.menu {
    margin: auto !important;
    padding: 20px !important;
 
}
.menu a{
    width: 60%;
    height: 60px !important;
    border-radius: 5px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
   

}
.menu span {
    color: #fff !important;
}
.menu i{
    color: aliceblue;
    font-size: 2rem  !important;
    padding: 10px !important;
    border: 1px solid grey;
    border-radius: 5px;
  
}
.menu ul li a{
    color: aliceblue !important;
    text-decoration: none;
    padding:  7px !important;
}
.home p{
  text-align: center;
  margin: 70px 0px !important ;
    font-size: 35px;
    color: rgb(190,150,96);
    font-family: 'Satisfy', cursive;
 
    
}
.bira{
    background: transparent !important;
    text-align: center;
    margin: 30px 0px !important;
}
.bira img{
    width: 300px;
    height: 200px;
    filter: blur(1px);
}
.bira h3{
    font-size: 18px;
    color: white;
    padding-top: 10px !important;
}
.bira p{
    font-size: 15px;
    color: white;
    opacity: 0.5;
    padding: 10px !important;
}
.aciklama h3{
    color: white;
    font-size: 24px;
    margin-top: 30px !important;
    margin-left: 70px !important;
    margin-bottom: 45px !important;
}
.baciklama{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px !important;

}
.baciklama img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 60px !important;
    margin-right: 20px !important;
  
}
.urun {
    color: #fff;
    display: flex;
    align-items: center;
  

}
.fiyat {
    color: rgb(167,133,86);
    margin-right: 60px !important;
}
.geri-git {
    color: #fff !important;
    margin: 0 0 0 30px !important;
    font-size: 3rem;
}

